<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이루루 2005-2020</title>
    <link rel="stylesheet" href="{% static 'css/application.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="title">
          이루루
        </h1>

        <p class="caption">
          누구보다 많은 사랑을 받았고, <br />
          그 보다 몇 배의 많은 사랑을 남긴 <br />
          갈색의 따듯한 강아지
        </p>

        <h6 class="date"><n>2005</n>년 — <n>2020</n>년 <n>3</n>월 <n>4</n>일 <n>19:03</n></h6>

        <a href="">기억 남기기</a>
      </header>

      <div class="pagenation">
        <a href="/" class=""><span>1</span></a>
        <a href="/2" class=""><span>2</span></a>
        <a href="/3" class=""><span>3</span></a>
        <a href="/4" class=""><span>4</span></a>
        <a href="/5" class=""><span>5</span></a>
        <a href="/6" class=""><span>6</span></a>
        <a href="/7" class=""><span>7</span></a>
        <a href="/8" class=""><span>8</span></a>
      </div>

      <ul class="list-photos">
        {% block content %} {% endblock %}
      </ul>
    </div>
  </body>
</html>
