<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이루루 2005-2020</title>
    <link rel="stylesheet" href="{% static 'css/application.css' %}" />
  </head>
  <body>
    <div class="container">
      <a href="/">돌아가기</a>
      <a href="http://foo.com/bar.html#disqus_thread">Link</a>.
      <h1>MEMORIES</h1>

      <div id="disqus_thread"></div>
      <script>
        (function() {
          // DON'T EDIT BELOW THIS LINE
          var d = document,
            s = d.createElement("script");
          s.src = "https://leeruru.disqus.com/embed.js";
          s.setAttribute("data-timestamp", +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>

    <script id="dsq-count-scr" src="//leeruru.disqus.com/count.js" async></script>
  </body>
</html>
